@font-face {
  font-family: "SUIT";
  src: url("SUIT-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-Heavy.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SUIT";
  src: url("SUIT-Thin.ttf") format("truetype");
  font-weight: 100;
}
